<!-- <p>front works!</p> -->

<div>
    <div class="toolhead">
        <h1 class="topic"> Skill Development Training </h1><br>
    </div>
    <div class="body">
        <h1 class="title"> Best Courses for both Freshers and Experienced Graduates under any Domain </h1>
        <p class="para1"> <strong> Start yout Learning and get trained by Industrial Experts </strong></p>
        <p class="para2"> Explore your Knowledge on  your Budget and earn while Training by working on Live Projects </p>
        <button class="start-btn" (click)="start()"> Getting Started </button>
    </div>
</div>